/* app/assets/stylesheets/custom.scss */
@import "bootstrap-sprockets";
@import "honoka";

/*timeline*/
.post-panel {
  padding: 5px 5px 5px 5px;
  margin-bottom: 0px;
}
.post {
  padding-left: 65px;
}
.tweet-image{
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  img {
    border-radius: 50%;
    border: 5px solid #fff;
  }
}
.post-image{
  img {
    max-height: 250px;
    max-width: 300px;
  }
}

.login-section{
  float: right;
  margin-right: 15px;
}

/*sidebar*/
.sidebar {
  margin-top: 25px;
  position: fixed;
}
.profile-image {
  border-radius: 50%;
  border: 5px solid #fff;
  width: 100px;
  height: 100px;
  margin: -40px 0px 0px 10px;
}

.tweet{
  background-color: #55acee;
  margin-top:10px;
}

.book{
  background-color: #f5deb3;
  margin-top: 10px;
}

// 検索結果

.index-content {
  margin-bottom: 20px;
  padding: 50px 0px;
}

.index-content .row {
  margin-top: 20px;
}

.index-content a {
  color: black;
}

.index-content .card {
  background-color: #FFFFFF;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.index-content .card img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.index-content .card h4 {
  margin: 20px;
}

.index-content .card p {
  margin: 20px;
  opacity: 0.65;
}

.index-content .blue-button {
  width: 100px;
  -webkit-transition: background-color 1s, color 1s;
  /* For Safari 3.1 to 6.0 */
  transition: background-color 1s, color 1s;
  min-height: 20px;
  background-color: #002E5B;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: lighter;
  margin: 0px 20px 15px 20px;
  padding: 5px 0px;
  display: inline-block;
}

@media (max-width: 768px) {
  .index-content .col-lg-4 {
    margin-top: 20px;
  }
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


